foto-perfil-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.foto-perfil {

    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.foto-perfil img {
    width: 100%;
    height: 100%;
   
    object-fit: cover;
}

.contenedor2 {
    display: flex; 
    max-width: 1500px;

}

.izquierda2 {
    flex: 1;
    background-color: var(--blanco); 
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    height: 500px;
    width: 600px;
    color: var(--blanco);
    justify-content: center;
    text-align: center;
}

.izquierda3{
    width: 500px;
    background-color: var(--blanco);
    margin-left: 100px;
}

.derecha2 {
    flex: 1; 
    background-color: var(--blanco); 
    height: 500px;
    width: 700px;
}
.derecha2 h1 {
    font-size: 50px;
    
}
.derecha2 p{
font-size: 30px;


}
.Icon2{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center;
}

.Circle{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #D9D9D9;

}